<template>
  <main class="content">
    <font-card
      v-once
      v-for="font in fonts"
      :model="font"
      :toggle="toggle"
      :key="font.name.en"
    />
  </main>
</template>

<script>
import fonts from '../../public/static/fonts/data.json'
import FontCard from './FontCard.vue'

export default {
  props: ['store'],

  components: {
    FontCard
  },

  data() {
    const toggle = (item) => {
      this.store.onToggle(item)
    }

    return {
      fonts: fonts.sort((a, b) => a.name.ko.localeCompare(b.name.ko)),
      toggle
    }
  }
}
</script>

<style>
.content {
  margin-left: 40%;
  width: 60%;
  margin-top: 7rem;
}

@media (min-width: 1440px) {
  .content {
    padding-right: 10%;
  }
}

@media (max-width: 810px) {
  .content {
    margin-left: initial;
    width: 100%;
    margin-top: 1rem;
  }
}
</style>
